@model Rentify.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pricepermonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pricepermonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stockquantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stockquantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imageurl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imageurl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    <a asp-action="Index">Back to List</a>
</div>
